
.env
.env.backup
*.log
node_modules/
.DS_Store
Thumbs.db
storage/sessions/*
!storage/sessions/.gitkeep
assets_static/cities/*
!assets_static/cities/.gitkeep
assets_static/cards/*
!assets_static/cards/.gitkeep

